<!doctype html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Books</title>
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
        /* Custom CSS to ensure cards have the same height */
        .card {
            object-fit: cover;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<h1 class="fw-bolder text-uppercase text-center">My Bookshelf</h1>
{% for message in messages %}
	<p>{{ message }}</p>
{% endfor %}
<div class="container">
    <div class="row">
    {% for book in book %}
<div class="col-md-4">
  <div class="card">
            <img src="{{ book.book.url }}" class="card-img-top" alt="{{ book.title }}"  width="250" height="300">
             <div class="card-body">
                 <h5 class="card-title">{{ book.title }}</h5>
                 <p class="card-text">{{ book.summary }}</p>
            </div>
              <ul class="list-group list-group-flush list-unstyled">
                <li>Author :{{ book.author }}</li>
                <li> ISBN :{{ book.isbn }}</li>
                <li>Genre :{{ book.genre }}</li>
                <li>Publish date :{{ book.publish_date }}</li>
              </ul>
            <div class="card-body">
               <a class="btn btn-dark" href="{% url 'delete_book' book.id %}" role="button">Delete</a>
            </div>
        </div>
   </div>

    {% endfor %}

    </div>
</div>

<a class="  btn btn-primary" href="{% url 'add_book' %}" role="button">Upload Book</a>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>