{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
    {% for book in book %}
<div class="col-md-4">
  <div class="card">
            <img src="{{ book.book.url }}" class="card-img-top" alt="{{ book.title }}"  width="250" height="300">
             <div class="card-body">
                 <h5 class="card-title">{{ book.title }}</h5>
                 <p class="card-text">{{ book.summary }}</p>
            </div>
              <ul class="list-group list-group-flush list-unstyled">
                <li>Author :{{ book.author }}</li>
                <li> ISBN :{{ book.isbn }}</li>
                <li>Genre :{{ book.genre }}</li>
                <li>Publish date :{{ book.publish_date }}</li>
              </ul>
            <div class="card-body">
               <a class="btn btn-dark" href="{% url 'update_book' book.id %}" role="button">Update</a>
                <a class="btn btn-dark" href="{% url 'delete_book' book.id %}" role="button">Delete</a>
            </div>
        </div>
   </div>

    {% endfor %}

</div>
</div>
{% endblock %}